@page
@model GC_Subscription.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Færdigretter";
}

<h1>Færdigretter</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Billed
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Kostvaner
            </th>
            <th>
                Allergier
            </th>
            <th>
                Lagerstatus
            </th>
            <th>
                Pris
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="Billede af retten" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <pre>@Html.DisplayFor(modelItem => item.Description)</pre>
                </td>
                <td>
                    @foreach (var diet in item.Diets)
                    {
                        @diet.Name <br />
                    }
                </td>
                <td>
                    @foreach (var allergy in item.Allergies)
                    {
                        @allergy.Name <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    kr. @Html.DisplayFor(modelItem => item.Price),-
                </td>



                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
