@page
@model GC_Subscription.Pages.Subscriptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Interval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subscription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
